<form name="myForm">
    <h1>Change Password</h1>
    <div class="col-xs-12 col-sm-12 tab-content">
        <div id="register-member">
            <div class="padt20 form-horizontal">
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Old Password<span class="requiredFields"> *</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-10" ng-class="{'has-error': myForm.oldPassword.$touched && myForm.oldPassword.$invalid, 'has-success': myForm.oldPassword.$touched && myForm.oldPassword.$valid}">
                            <input type="password" placeholder="old password" name="oldPassword" required class="form-control def-element-width" ng-model="oldPassword" />
                            <div ng-messages="myForm.oldPassword.$touched && myForm.oldPassword.$error" class="text-danger">
                                <div ng-message="required">Please write old password.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">New Password<span class="requiredFields"> *</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-10" ng-class="{'has-error': myForm.newPassword.$touched && myForm.newPassword.$invalid, 'has-success': myForm.newPassword.$touched && myForm.newPassword.$valid}">
                            <input type="password" placeholder="password" name="newPassword" required class="form-control def-element-width" ng-model="newPassword" ng-minlength="8" />
                                <!--<span style="display:none" class="help-inline" ng-show="passwordStrength != undefined">-->
                                    <!--<b ng-style="{color:passwordColor}">Strength:</b> <span ng-bind="passwordStrength">0</span>%-->
                                <!--</span>-->
                            <div ng-messages="myForm.newPassword.$touched && myForm.newPassword.$error" class="text-danger">
                                <div ng-message="required">Please write password.</div>
                                <div ng-message="minlength">Password should be minimum 8 characters.</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Confirm Password<span class="requiredFields"> *</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-10" ng-class="{'has-error': myForm.confirmPassword.$touched && myForm.confirmPassword.$invalid, 'has-success': myForm.confirmPassword.$touched && myForm.confirmPassword.$valid}">
                            <input type="password" placeholder="password again" name="confirmPassword" required class="form-control def-element-width" ng-pattern="{{password}}" ng-model="confirmPassword" ng-minlength="8">
                            <div ng-messages="myForm.confirmPassword.$touched && myForm.confirmPassword.$error" class="text-danger">
                                <div ng-message="required">Please write password.</div>
                                <div ng-message="minlength">Password should be minimum 8 characters.</div>
                                <div ng-message="pattern">Password and confirm password should match.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-12 col-sm-10">
                            <div id="captchadiv"></div>
                            <button class="btn btn-success" ng-click="change()" ng-disabled="disableButton">Change Password</button>
                        </div>
                    </div>
                </div>
                <div class="padb35"></div>
            </div>
        </div>
    </div>
</form>
