<div>
    <h1>Partner Preference
        <small ng-show="!isEditMode"><button class="btn btn-primary btn-sm" ng-click="changeMode(true)">Edit</button></small>
        <small ng-show="isEditMode"><button class="btn btn-primary btn-sm" ng-click="changeMode(false)">Cancel Edit</button></small>
    </h1>

    <div class="col-xs-12 col-sm-12 tab-content">
        <div id="register-member">
            <div class="padt20 form-horizontal">
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label ng-class="{'control-label':isEditMode}">Willing to marry from the same/other sub sect</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <span ng-show="!isEditMode" ng-bind="(marryInSameSect==1)?'same':'other also'"></span>
                            <div ng-show="isEditMode" class="btn-group">
                                <label for="marrySame_Yes" class="btn btn-default" ng-class="{'active': marryInSameSect=='1'}">
                                    <input type="radio" id="marrySame_Yes" name="marryInSameSect" value="1" ng-model="marryInSameSect" />
                                    Willing to marry from the same sub sect </label>
                                <label for="marrySame_No" class="btn btn-default" ng-class="{'active': marryInSameSect=='2'}">
                                    <input type="radio" id="marrySame_No" name="marryInSameSect" value="2" ng-model="marryInSameSect" />
                                    Willing to marry from other sub sect also </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label ng-class="{'control-label':isEditMode}">About My Partner</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <span ng-show="!isEditMode" ng-bind="aboutMyPartner"></span>
                            <textarea ng-show="isEditMode" class="form-control" placeholder="write something about your partner preferance" ng-model="aboutMyPartner" ></textarea>
                        </div>
                    </div>
                </div>
                <div ng-show="isEditMode">
                    <div class="row">
                        <div class="dot-line padt10"></div>
                        <div class="padt20">
                            <div class="col-xs-12 col-sm-2"></div>
                            <div class="col-xs-12 col-sm-10">
                                <div id="captchadiv"></div>
                                <button class="btn btn-success" ng-click="updatePartnerPreferences()">Save</button>
                                <button class="btn btn-primary" ng-click="changeMode(false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="padb35"></div>

                </div>
            </div>
        </div>
    </div>
</div>