<div class="padt30">
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">

            <div class="panel-body">
                <center><div class="bdr1 pad-reset profile-pic text-center" ng-class="{'women': (user.Sex=='0' && !user.ProfilePic), 'men': (user.Sex=='1' && !user.ProfilePic)}">
                    <img ng-if="user.ProfilePic" ng-src="{{global.profilePicData}}" ng-attr-title="{{user.MemberName}}" />
                </div></center>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Member Profile</h3>
            </div>
            <div class="panel-body">
                <div>
                    <p> You can modify/change your profile details:- </p>
                </div>
                <div>
                    <ul class="nav nav-pills nav-stacked">
                        <li ui-sref-active="active"><a ui-sref="userProfile.basicDetails">Basic Details</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.horoscope">Religious/Horoscope</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.professionalDetails">Professional &amp; Occupation</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.familyDetails">Family Details</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.partnerPreference">Partner Preference</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.contactDetails">Location/Contact Details</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.changePhoto">Change Profile Photo</a></li>
                        <li ui-sref-active="active"><a ui-sref="userProfile.changePassword">Change Password</a></li>
                        <!-- <li ui-sref-active="active"><a ui-sref="userProfile.deactivateProfile">Deactivate Profile</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div ui-view></div>
    </div>
</div>
