<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title"><h2>Congrats! <span ng-bind="userDetails.member.MemberName"></span></h2></div>
        <h5>You have successfully registered with BJM Matrimony.</h5>
    </div>
    <div class="panel-body">
        <h4><u>Your Login Details</u></h4>
        <h4><span class="label label-primary">Your Matrimony ID: <strong ng-bind="userDetails.member.MemberCode"></strong></span></h4>
        <p>
            Henceforth please use above matrimony ID to login to your profile at <strong><a href="http://www.jainmilanmatrimonial.com">http://www.jainmilanmatrimonial.com</a></strong>.
            A confirmation e-mail has been sent to your registered e-mail.
            <br />
            Please <a ui-sref="login">login</a> to see or update your profile.
        </p>
        <h5 class="text-primary">
            Your profile will be activated and available in search with in 24 to 48 hours.
            In the mean time, you can login with your credentials and update your details.
        </h5>
    </div>
</div>