<div>
    <h1>Register</h1>
    <br />
    <div>
        <div class="pull-left">
            <div ng-class="{'selected-step': showPage == 'register-member'}">STEP 1</div>
            <div><img ng-class="{'arw-active': showPage == 'register-member', 'arw-inactive': showPage != 'register-member'}" src="images/spacer.gif" width="83" height="10" border="0" alt=""></div>
            <div ng-class="{'selected-step-text': showPage == 'register-member'}">BASIC DETAILS</div>
        </div>
        <div class="pull-left" style="margin-left: 50px;">
            <div ng-class="{'selected-step': showPage == 'member-profile'}">STEP 2</div>
            <div><img ng-class="{'arw-active': showPage == 'member-profile', 'arw-inactive': showPage != 'member-profile'}" src="images/spacer.gif" width="83" height="10" border="0" alt=""></div>
            <div ng-class="{'selected-step-text': showPage == 'member-profile'}">PROFILE DETAILS</div>
        </div>
        <div class="pull-left" style="margin-left: 50px;">
            <div ng-class="{'selected-step': showPage == 'confirmation'}">STEP 3</div>
            <div><img ng-class="{'arw-active': showPage == 'confirmation', 'arw-inactive': showPage != 'confirmation'}" src="images/spacer.gif" width="83" height="10" border="0" alt=""></div>
            <div ng-class="{'selected-step-text': showPage == 'confirmation'}">CONFIRMATION</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <br />
    <div ng-if="showPage == 'register-member'" >
        <div ng-include="'register/register-member.html'" ng-init="obj = this"></div>
    </div>
    <div ng-if="showPage == 'member-profile'">
        <div ng-include="'register/member-profile.html'" ng-init="obj = this"></div>
    </div>
    <div ng-if="showPage == 'confirmation'">
        <div ng-include="'register/confirmation.html'" ng-init="obj = this"></div>
    </div>

</div>
