<div ng-controller="RegisterMainCtrl">
    <div class="form-horizontal" ng-controller="RegistrationCtrl">
        <form name="myForm">
            <div class="form-group">
                <label class="col-sm-4 ">Registered by<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.registerdBy.$touched && myForm.registerdBy.$invalid, 'has-success': myForm.registerdBy.$touched && myForm.registerdBy.$valid}">
                    <select class="form-control" name="registerdBy" required ng-model="registeredBy">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.registeredByList track by item.key" ng-attr-value="{{item.key}}" ng-bind="item.text" ng-selected="registeredBy==item.key"></option>
                    </select>
                    <div ng-messages="myForm.registerdBy.$touched && myForm.registerdBy.$error" class="text-danger">
                        <div ng-message="required">Please select the profile registered by.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Name<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.memberName.$touched && myForm.memberName.$invalid, 'has-success': myForm.memberName.$touched && myForm.memberName.$valid}">
                    <input type="text" class="form-control" name="memberName" required placeholder="Name" ng-model="memberName" />
                    <div ng-messages="myForm.memberName.$touched && myForm.memberName.$error" class="text-danger">
                        <div ng-message="required">Please write your name.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Gender<span class="requiredFields"> *</span></label>
                <div class="col-sm-8">
                    <label for="gendermale" class="radio-inline">
                        <input type="radio" id="gendermale" name="gender" value="1" ng-model="sex" />
                        Male </label>
                    &nbsp;
                    <label for="genderfemale" class="radio-inline">
                        <input type="radio" id="genderfemale" name="gender" value="0" ng-model="sex" />
                        Female </label>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Date of birth<span class="requiredFields"> *</span></label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="pull-left" ng-class="{'has-error': myForm.dobDate.$touched && myForm.dobDate.$invalid, 'has-success': myForm.dobDate.$touched && myForm.dobDate.$valid}">
                            <select class="form-control clearwidth" name="dobDate" required ng-model="date">
                                <option value="">Date</option>
                                <option ng-repeat="item in facetVM.dateList track by item.key" ng-attr-value="{{item.key}}" ng-bind="item.text" ng-selected="date==item.key"></option>
                            </select>
                        </div>
                        <div class="pull-left" ng-class="{'has-error': myForm.dobMonth.$touched && myForm.dobMonth.$invalid, 'has-success': myForm.dobMonth.$touched && myForm.dobMonth.$valid}">
                            <select class="form-control clearwidth" name="dobMonth" required ng-model="month">
                                <option value="">Month</option>
                                <option ng-repeat="item in facetVM.monthList track by item.key" ng-attr-value="{{item.key}}" ng-bind="item.text" ng-selected="month==item.key"></option>
                            </select>
                        </div>
                        <div class="pull-left" ng-class="{'has-error': myForm.dobYear.$touched && myForm.dobYear.$invalid, 'has-success': myForm.dobYear.$touched && myForm.dobYear.$valid}">
                            <select class="form-control clearwidth" name="dobYear" required ng-model="year">
                                <option value="">Year</option>
                                <option ng-repeat="item in facetVM.yearList track by item.key" ng-attr-value="{{item.key}}" ng-bind="item.text" ng-selected="year==item.key"></option>
                            </select>
                        </div>
                    </div>
                    <div ng-messages="myForm.dobDate.$touched && myForm.dobDate.$error" class="text-danger">
                        <div ng-message="required">Please select date.</div>
                    </div>
                    <div ng-messages="myForm.dobMonth.$touched && myForm.dobMonth.$error" class="text-danger">
                        <div ng-message="required">Please select month.</div>
                    </div>
                    <div ng-messages="myForm.dobYear.$touched && myForm.dobYear.$error" class="text-danger">
                        <div ng-message="required">Please select year.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Height<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.height.$touched && myForm.height.$invalid, 'has-success': myForm.height.$touched && myForm.height.$valid}">
                    <select class="form-control" name="height" ng-model="height" required ng-options="item.key as item.text for item in facetVM.heightList">
                        <option value="">--select--</option>
                    </select>
                    <div ng-messages="myForm.height.$touched && myForm.height.$error" class="text-danger">
                        <div ng-message="required">Please select height.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Marital Status<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.maritalStatus.$touched && myForm.maritalStatus.$invalid, 'has-success': myForm.maritalStatus.$touched && myForm.maritalStatus.$valid}">
                    <select class="form-control" name="maritalStatus" required ng-model="maritalStatus">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.maritalStatusList track by item.key" ng-attr-value="{{item.key}}" ng-bind="item.text" ng-selected="maritalStatus==item.key"></option>
                    </select>
                    <div ng-messages="myForm.maritalStatus.$touched && myForm.maritalStatus.$error" class="text-danger">
                        <div ng-message="required">Please select marital status.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Sect<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.sect.$touched && myForm.sect.$invalid, 'has-success': myForm.sect.$touched && myForm.sect.$valid}">
                    <select class="form-control" name="sect" required ng-model="sect" ng-change="facetVM.afterSectChange(sect)">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.sectList track by item.pkSectId" ng-attr-value="{{item.pkSectId}}" ng-bind="item.SectName" ng-selected="sect==item.pkSectId"></option>
                    </select>
                    <div ng-messages="myForm.sect.$touched && myForm.sect.$error" class="text-danger">
                        <div ng-message="required">Please select sect.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Sub Sect<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.subSect.$touched && myForm.subSect.$invalid, 'has-success': myForm.subSect.$touched && myForm.subSect.$valid}">
                    <select class="form-control" name="subSect" required ng-model="subSect">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.subSectList track by item.pkSubSectId" ng-attr-value="{{item.pkSubSectId}}" ng-bind="item.SubSectName" ng-selected="subSect==item.pkSubSectId"></option>
                    </select>
                    <div ng-messages="myForm.subSect.$touched && myForm.subSect.$error" class="text-danger">
                        <div ng-message="required">Please select sub sect.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Mother Tongue<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.motherTongue.$touched && myForm.motherTongue.$invalid, 'has-success': myForm.motherTongue.$touched && myForm.motherTongue.$valid}">
                    <select class="form-control" name="motherTongue" required ng-model="motherTongue">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.motherTongueList track by item.pkTongueId" ng-attr-value="{{item.pkTongueId}}" ng-bind="item.TongueName" ng-selected="motherTongue==item.pkTongueId"></option>
                    </select>
                    <div ng-messages="myForm.motherTongue.$touched && myForm.motherTongue.$error" class="text-danger">
                        <div ng-message="required">Please select mother tongue.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Country living in<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.country.$touched && myForm.country.$invalid, 'has-success': myForm.country.$touched && myForm.country.$valid}">
                    <select class="form-control" name="country" required ng-model="country" ng-disabled="true">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.countryList track by item.pkCountryId" ng-attr-value="{{item.pkCountryId}}" ng-bind="item.CountryName" ng-selected="country==item.pkCountryId"></option>
                    </select>
                    <div ng-messages="myForm.country.$touched && myForm.country.$error" class="text-danger">
                        <div ng-message="required">Please select country.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">State<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.state.$touched && myForm.state.$invalid, 'has-success': myForm.state.$touched && myForm.state.$valid}">
                    <select class="form-control" name="state" required ng-model="state">
                        <option value="">--Select--</option>
                        <option ng-repeat="item in facetVM.stateList track by item.pkStateId" ng-attr-value="{{item.pkStateId}}" ng-bind="item.StateName" ng-selected="state==item.pkStateId"></option>
                    </select>
                    <div ng-messages="myForm.state.$touched && myForm.state.$error" class="text-danger">
                        <div ng-message="required">Please select state.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">City<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.city.$touched && myForm.city.$invalid, 'has-success': myForm.city.$touched && myForm.city.$valid}">
                    <input type="text" name="city" required class="form-control" placeholder="City" ng-model="city" />
                    <div ng-messages="myForm.city.$touched && myForm.city.$error" class="text-danger">
                        <div ng-message="required">Please write city name.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Contact Number<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.contactNumber.$touched && myForm.contactNumber.$invalid, 'has-success': myForm.contactNumber.$touched && myForm.contactNumber.$valid}">
                    <div class="input-group">
                        <span class="input-group-addon">+91</span>
                        <input type="text" class="form-control" name="contactNumber" required placeholder="contact number" ng-pattern="/^\d{10}$/" ng-model="contactNumber" />
                    </div>
                    <span class="text-muted">Hint: 99xxxxxxxx</span>
                    <div ng-messages="myForm.contactNumber.$touched && myForm.contactNumber.$error" class="text-danger">
                        <div ng-message="required">Please write contact number.</div>
                        <div ng-message="pattern">Please write valid contact number.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">E-mail<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.email.$touched && myForm.email.$invalid, 'has-success': myForm.email.$touched && myForm.email.$valid}">
                    <input type="email" name="email" required class="form-control" placeholder="(ex: xyz@abc.com)" ng-model="emailId" />
                    <div ng-messages="myForm.email.$touched && myForm.email.$error" class="text-danger">
                        <div ng-message="required">Please write email address.</div>
                        <div ng-message="email">Please write a vaild email address.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Password<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.password.$touched && myForm.password.$invalid, 'has-success': myForm.password.$touched && myForm.password.$valid}">
                    <input type="password" class="form-control" name="password" required placeholder="password" ng-model="password" ng-minlength="8">
                    <div ng-messages="myForm.password.$touched && myForm.password.$error" class="text-danger">
                        <div ng-message="required">Please write password.</div>
                        <div ng-message="minlength">Password should be minimum 8 characters.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Confirm Password<span class="requiredFields"> *</span></label>
                <div class="col-sm-8" ng-class="{'has-error': myForm.confirmPassword.$touched && myForm.confirmPassword.$invalid, 'has-success': myForm.confirmPassword.$touched && myForm.confirmPassword.$valid}">
                    <input type="password" class="form-control" name="confirmPassword" required placeholder="password again" ng-pattern="{{password}}" ng-model="confirmPassword" ng-minlength="8">
                    <div ng-messages="myForm.confirmPassword.$touched && myForm.confirmPassword.$error" class="text-danger">
                        <div ng-message="required">Please write password.</div>
                        <div ng-message="minlength">Password should be minimum 8 characters.</div>
                        <div ng-message="pattern">Password and confirm password should match.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label>
                        <checkbox ng-model="termsConditions" ></checkbox>
                        I agree to the <a class="link" ng-click="openPopup('privacyPolicy')">Privacy Policy</a>
                        and
                        <a class="link" ng-click="openPopup('termsConditions')">Terms &amp; Conditions</a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button class="btn btn-success" ng-click="registerUser()" ng-disabled="!termsConditions || disableButton || myForm.$invalid">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>