<div class="row row-offcanvas row-offcanvas-left">
    <div class="">
        <div id="searchbar-wrapper" class="col-sm-12 col-md-3" ng-class="{'is-open': isOpenedSidebar}">
            <div class="overlay" ng-show="isOpenedSidebar"></div>
            <div id="searchbar" class="sidebar-offcanvas" role="navigation">
                <div class="panel panel-default search-bar">
                    <div class="clearfix panel-heading search-bar-heading">
                        <h3 class="pull-left panel-title">Refine your search</h3>
                        <a ng-click="toggleSidebar()" class="pull-right close hidden-md hidden-lg">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                    <div class="filtered">
                        <div class="clearfix search-filter-header">
                            <div class="pull-left filter-icons">
                                <button ng-click="reset()" class="btn btn-sm btn-link">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    <span>Reset</span>
                                </button>
                            </div>
                            <div class="pull-right filter-icons">
                                <button ng-click="search()" class="btn btn-sm btn-link">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span>Search</span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <ul class="nav navbar-default search-filter-nav">
                                <li ng-init="acc1open = false;" ng-class="{'open': acc1open}">
                                    <a ng-click="acc1open = !acc1open">
                                        <strong>Age:</strong>
                                        <span ng-bind="ageFrom"></span> yrs - <span ng-bind="ageTo"></span> yrs
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc1open, 'glyphicon-chevron-right': !acc1open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/age.html'"></div>
                                </li>
                                <li ng-init="acc2open = false;" ng-class="{'open': acc2open}">
                                    <a ng-click="acc2open = !acc2open">
                                        <strong>Height:</strong>
                                        <span ng-bind="facetVM.heightInWords(heightFrom)"></span> - <span ng-bind="facetVM.heightInWords(heightTo)"></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc2open, 'glyphicon-chevron-right': !acc2open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/height.html'"></div>
                                </li>
                                <li ng-init="acc3open = false;" ng-class="{'open': acc3open}">
                                    <a ng-click="acc3open = !acc3open">
                                        <strong>Marital Status:</strong>
                                        <span ng-if="selectedMaritalStatus.length > 0" ng-repeat="item in selectedMaritalStatus track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.maritalStatusList, 'key').text + (($index != selectedMaritalStatus.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedMaritalStatus.length == 0 || (selectedMaritalStatus.length==1 && !selectedMaritalStatus[0])">
                                            <span>Any</span>
                                        </span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc3open, 'glyphicon-chevron-right': !acc3open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/maritalStatus.html'"></div>
                                </li>
                                <li ng-init="acc4open = false;" ng-class="{'open': acc4open}">
                                    <a ng-click="acc4open = !acc4open">
                                        <strong>Mother Toungue:</strong>
                                        <span ng-if="selectedMotherTongue.length > 0" ng-repeat="item in selectedMotherTongue track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.motherTongueList, 'pkTongueId').TongueName + (($index != selectedMotherTongue.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedMotherTongue.length == 0 || (selectedMotherTongue.length==1 && !selectedMotherTongue[0])">
                                            <span>Any</span>
                                        </span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc4open, 'glyphicon-chevron-right': !acc4open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/motherToungue.html'"></div>
                                </li>
                                <li ng-init="acc5open = false;" ng-class="{'open': acc5open}">
                                    <a ng-click="acc5open = !acc5open">
                                        <strong>Sect:</strong>
                                        <span ng-if="selectedSect.length > 0" ng-repeat="item in selectedSect track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.sectList, 'pkSectId').SectName + (($index != selectedSect.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedSect.length==0 || (selectedSect.length==1 && !selectedSect[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc5open, 'glyphicon-chevron-right': !acc5open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/sect.html'"></div>
                                </li>
                                <li ng-init="acc6open = false;" ng-class="{'open': acc6open}">
                                    <a ng-click="acc6open = !acc6open">
                                        <strong>Sub Sect:</strong>
                                        <span ng-if="selectedSubSect.length > 0" ng-repeat="item in selectedSubSect track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.subSectList, 'pkSubSectId').SubSectName + (($index != selectedSubSect.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedSubSect.length==0 || (selectedSubSect.length==1 && !selectedSubSect[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc6open, 'glyphicon-chevron-right': !acc6open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/subsect.html'"></div>
                                </li>
                                <li ng-init="acc7open = false;" ng-class="{'open': acc7open}">
                                    <a ng-click="acc7open = !acc7open">
                                        <strong>Caste:</strong>
                                        <span ng-if="selectedCaste.length > 0" ng-repeat="item in selectedCaste track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.casteList, 'pkCasteId').CasteName + (($index != selectedCaste.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedCaste.length==0 || (selectedCaste.length==1 && !selectedCaste[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc7open, 'glyphicon-chevron-right': !acc7open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/caste.html'"></div>
                                </li>
                                <li ng-init="acc8open = false;" ng-class="{'open': acc8open}">
                                    <a ng-click="acc8open = !acc8open">
                                        <strong>Education:</strong>
                                        <span ng-if="selectedCourseGroup.length > 0" ng-repeat="item in selectedCourseGroup track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.courseGroupList, 'pkCourseGroupId').GroupName + (($index != selectedCourseGroup.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedCourseGroup.length==0 || (selectedCourseGroup.length==1 && !selectedCourseGroup[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc8open, 'glyphicon-chevron-right': !acc8open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/courseGroup.html'"></div>
                                </li>
                                <li ng-init="acc9open = false;" ng-class="{'open': acc9open}">
                                    <a ng-click="acc9open = !acc9open">
                                        <strong>Occupation:</strong>
                                        <span ng-if="selectedOccupationGroup.length > 0" ng-repeat="item in selectedOccupationGroup track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.occupationGroupList, 'pkOccGroupId').GroupName + (($index != selectedOccupationGroup.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedOccupationGroup.length==0 || (selectedOccupationGroup.length==1 && !selectedOccupationGroup[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc9open, 'glyphicon-chevron-right': !acc9open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/occupationGroup.html'"></div>
                                </li>
                                <li ng-init="acc10open = false;" ng-class="{'open': acc10open}">
                                    <a ng-click="acc10open = !acc10open">
                                        <strong>Annual Income:</strong>
                                        <span ng-if="selectedAnnualIncome"><span ng-bind="selectedAnnualIncome.text"></span></span>
                                        <span ng-if="!selectedAnnualIncome"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc10open, 'glyphicon-chevron-right': !acc10open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/annualIncome.html'"></div>
                                </li>
                                <li ng-init="acc11open = false;" ng-class="{'open': acc11open}">
                                    <a ng-click="acc11open = !acc11open">
                                        <strong>Country:</strong>
                                        <span ng-if="selectedCountry.length > 0" ng-repeat="item in selectedCountry track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.countryList, 'pkCountryId').CountryName + (($index != selectedCountry.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedCountry.length==0 || (selectedCountry.length==1 && !selectedCountry[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc11open, 'glyphicon-chevron-right': !acc11open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/country.html'"></div>
                                </li>
                                <li ng-init="acc12open = false;" ng-class="{'open': acc12open}">
                                    <a ng-click="acc12open = !acc12open">
                                        <strong>Physical Status:</strong>
                                        <span ng-if="selectedPhysicalStatus.length > 0" ng-repeat="item in selectedPhysicalStatus track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.physicalStatusList, 'key').text + (($index != selectedPhysicalStatus.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedPhysicalStatus.length==0 || (selectedPhysicalStatus.length==1 && !selectedPhysicalStatus[0] && selectedPhysicalStatus[0] !== 0)"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc12open, 'glyphicon-chevron-right': !acc12open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/physicalStatus.html'"></div>
                                </li>
                                <li ng-init="acc13open = false;" ng-class="{'open': acc13open}">
                                    <a ng-click="acc13open = !acc13open">
                                        <strong>Employed In:</strong>
                                        <span ng-if="selectedEmployedIn.length > 0" ng-repeat="item in selectedEmployedIn track by item">
                                            <span ng-bind="getSelectedItem(item, facetVM.employedInList, 'key').text + (($index != selectedEmployedIn.length-1)?',':'')"></span>
                                        </span>
                                        <span ng-if="selectedEmployedIn.length==0 || (selectedEmployedIn.length==1 && !selectedEmployedIn[0])"><span>Any</span></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc13open, 'glyphicon-chevron-right': !acc13open}"></i>
                                    </a>
                                    <div class="search-filter-body" ng-include="'search/modals/employedIn.html'"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <p class="pull-left hidden-md hidden-lg">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" ng-click="toggleSidebar()">Refine Your Search</button>
            </p>
            <div class="clearfix"></div>
            <div ng-include="'search/renderResults.html'"></div>
        </div>
    </div>
</div>
