<div>
    <h1>Search</h1>
    <ul id="search_tab" class="nav nav-tabs">
        <li class="" ng-class="{'active': activeSearchTab=='regular'}"><a href="#tabs-1" data-toggle="pill">Regular</a></li>
        <li class="" ng-class="{'active': activeSearchTab=='matrimonyId'}"><a href="#tabs-2" data-toggle="pill">By Matrimony Id</a></li>
    </ul>
    <div class="col-xs-12 col-sm-12 tab-content">
        <div id="tabs-1" class="tab-pane" ng-class="{'active': activeSearchTab=='regular'}">
            <h3>Basic Search Criteria</h3>
            <div class="padt20 form-horizontal">
                <div class="row" ng-if="!global.currentUser">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Looking for</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <label class="radio-inline" for="bride">
                                <input type="radio" id="bride" name="sex"  value="0" ng-model="sex"  />Bride
                            </label>
                            <label class="radio-inline" for="groom">
                                <input type="radio" id="groom" name="sex" value="1" ng-model="sex" />Groom
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Age</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <div class="form-inline">
                                <select class="form-control clearwidth" ng-model="ageFrom" ng-options="item for item in facetVM.ageList track by item"></select>
                                <span class="padl5 padr5">To</span>
                                <select class="form-control clearwidth" ng-model="ageTo" ng-options="item for item in facetVM.ageList track by item"></select>
                                <span class="padl5 padr5">Years</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Height</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <div class="form-inline">
                                <select class="form-control clearwidth" ng-model="heightFrom">
                                    <option ng-repeat="item in facetVM.heightList track by item.key" value="{{item.key}}" ng-bind="item.text" ng-selected="item.key==heightFrom"></option>
                                </select>
                                <span class="padl5 padr5">To</span>
                                <select class="form-control clearwidth" ng-model="heightTo">
                                    <option ng-repeat="item in facetVM.heightList track by item.key" value="{{item.key}}" ng-bind="item.text" ng-selected="item.key==heightTo"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Marital Status</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" ng-model="selectedMaritalStatus" size="5" multiple="true">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.maritalStatusList track by item.key" value="{{item.key}}" ng-bind="item.text" ng-selected="item.key"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Sect</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" ng-model="selectedSect[0]" ng-change="facetVM.afterSectChange(selectedSect)">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.sectList track by item.pkSectId" value="{{item.pkSectId}}" ng-bind="item.SectName" ng-selected="item.pkSectId==selectedSect[0]"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Sub Sect</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" ng-model="selectedSubSect[0]">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.subSectList track by item.pkSubSectId" value="{{item.pkSubSectId}}" ng-bind="item.SubSectName" ng-selected="item.pkSubSectId==selectedSubSect[0]"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Caste</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" ng-model="selectedCaste[0]">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.casteList track by item.pkCasteId" value="{{item.pkCasteId}}" ng-bind="item.CasteName" ng-selected="item.pkCasteId==selectedCaste[0]"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Mother Tongue</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" ng-model="selectedMotherTongue[0]">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.motherTongueList track by item.pkTongueId" value="{{item.pkTongueId}}" ng-bind="item.TongueName" ng-selected="item.pkTongueId==selectedMotherTongue[0]"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Education</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" no-model="selectedCourseGroup[0]">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.courseGroupList track by item.pkCourseGroupId" value="{{item.pkCourseGroupId}}" ng-bind="item.GroupName" ng-selected="item.pkCourseGroupId==selectedCourseGroup[0]"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label">Country</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <select class="form-control clearwidth" ng-model="selectedCountry[0]">
                                <option value="">Any</option>
                                <option ng-repeat="item in facetVM.countryList track by item.pkCountryId" value="{{item.pkCountryId}}" ng-bind="item.CountryName" ng-selected="item.pkCountryId==selectedCountry[0]"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dot-line padt10"></div>
                    <div class="padt20">
                        <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-12 col-sm-10">
                            <button type="button" class="btn btn-success" ng-click="searchByCriteria()">Search</button>
                        </div>
                    </div>
                </div>
                <div class="padb35"></div>
            </div>
        </div>
        <div id="tabs-2" class="tab-pane" ng-class="{'active': activeSearchTab=='matrimonyId'}">
            <h3>BY MATRIMONY ID</h3>
            <form name="memberForm">
                <div class="padt20 form-horizontal">
                    <div class="row">
                        <div class="dot-line padt10"></div>
                        <div class="padt20">
                            <div class="col-xs-12 col-sm-2">
                                <label class="control-label">BJM Matrimony ID</label>
                            </div>
                            <div class="col-xs-12 col-sm-10" ng-class="{'has-error': memberForm.memberCode.$touched && memberForm.memberCode.$invalid, 'has-success': memberForm.memberCode.$touched && memberForm.memberCode.$valid}">
                                <input class="form-control clearwidth" type="text" name="memberCode" required ng-model="memberCode"/>
                                <div ng-messages="memberForm.memberCode.$touched && memberForm.memberCode.$error" class="text-danger">
                                    <div ng-message="required">Please write matrimony ID.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dot-line padt10"></div>
                        <div class="padt20">
                            <div class="col-xs-12 col-sm-2"></div>
                            <div class="col-xs-12 col-sm-10">
                                <button type="button" class="btn btn-success" ng-disabled="memberForm.memberCode.$invalid" ng-click="searchMember()" >Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="padb35"></div>
                </div>
            </form>
        </div>
    </div>
</div>
