<div>
  <h1>Basic Details 
  	<!-- ko ifnot: isEditMode() -->
  	<small><button class="btn btn-primary btn-sm" data-bind="click: function(){isEditMode(true);}">Edit</button></small>
  	<!-- /ko -->
  	<!-- ko if: isEditMode() -->
  	<small><button class="btn btn-primary btn-sm" data-bind="click: function(){isEditMode(false);}">Cancel Edit</button></small>
  	<!-- /ko -->
  </h1>
  
  <div class="col-xs-12 col-sm-12 tab-content">
    <div id="register-member">      
      <div class="padt20 form-horizontal">
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label>Matrimony ID</label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <label><span class="clr9" data-bind="text: memberCode"></span></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Registered by<span class="requiredFields"> *</span></label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
              <span data-bind="text: $root.facetVM.getObjectText($root.facetVM.registeredByList,registeredBy)"></span>
              <!-- /ko -->
              <!-- ko if: isEditMode() -->	
              <select class="form-control def-element-width" data-bind="options: $root.facetVM.registeredByList, optionsText: 'text', optionsValue: 'key', optionsCaption: '--Select--', value: registeredBy"></select>
              <!-- /ko -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Name<span class="requiredFields"> *</span></label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
              <span data-bind="text: memberName"></span>
              <!-- /ko -->
              <!-- ko if: isEditMode() -->
              <input type="text" class="form-control def-element-width" placeholder="Name" data-bind="value: memberName, valueUpdate: 'afterkeydown'" />
              <!-- /ko -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Gender<span class="requiredFields"> *</span></label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
              <span data-bind="text: (sex()==1)?'Male':'Female'"></span>
              <!-- /ko -->
              <!-- ko if: isEditMode() -->
              <label for="gendermale" class="radio-inline">
		          <input type="radio" id="gendermale" name="gender" data-bind="value: 1, checked: sex" />
		          Male </label>
		        &nbsp;
		      <label for="genderfemale" class="radio-inline">
		          <input type="radio" id="genderfemale" name="gender" data-bind="value: 0, checked: sex" />
		          Female </label>	
              <!-- /ko -->      
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Marital Status<span class="requiredFields"> *</span></label>
            </div>
            <div class="col-xs-12 col-sm-10">
            	<!-- ko ifnot: isEditMode() -->
	            <span data-bind="text: $root.facetVM.getObjectText($root.facetVM.maritalStatusList, maritalStatus)"></span>
	            <!-- /ko -->
	            <!-- ko if: isEditMode() -->
            	<select class="form-control def-element-width" data-bind="options: $root.facetVM.maritalStatusList, optionsText: 'text', optionsValue: 'key', optionsCaption: '--Select--', value: maritalStatus"></select>
    			<!-- /ko -->
            </div>
          </div>
        </div>          
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Mother Tongue<span class="requiredFields"> *</span></label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
	          <span data-bind="text: motherToungueName"></span>
	          <!-- /ko -->
	          <!-- ko if: isEditMode() -->
              <select class="form-control def-element-width" data-bind="options: $root.facetVM.motherTongueList, optionsText: 'TongueName', optionsValue: 'pkTongueId', optionsCaption: '--Select--', value: motherTongue"></select>
              <!-- /ko -->	
            </div>
          </div>
        </div>        
        
        
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Height</label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
              <span data-bind="text: $root.facetVM.getObjectText($root.facetVM.heightList,height)"></span>
              <!-- /ko -->
              <!-- ko if: isEditMode() -->	
              <select class="form-control def-element-width" data-bind="options: $root.facetVM.heightList, optionsText: 'text', optionsValue: 'key', optionsCaption: '--select--', value: height"></select>
              <!-- /ko -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Weight</label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
              <span data-bind="text: (weight())?weight()+' kg':''"></span>
              <!-- /ko -->
              <!-- ko if: isEditMode() -->
              <select class="form-control def-element-width" data-bind="options: $root.facetVM.weightList, optionsText: 'text', optionsValue: 'key', optionsCaption: '--select--', value: weight"></select>
              <!-- /ko -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Body Type</label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
              <span data-bind="text: $root.facetVM.getObjectText($root.facetVM.bodyTypeList, bodyType)"></span>
              <!-- /ko -->
              <!-- ko if: isEditMode() -->
              <label for="b_Slim" class="radio-inline">
		          <input type="radio" id="b_Slim" name="bodytype" data-bind="value: 1, checked: bodyType" />
		          Slim </label>
		      <label for="b_Athletic" class="radio-inline">
		          <input type="radio" id="b_Athletic" name="bodytype" data-bind="value: 2, checked: bodyType" />
		          Athletic </label>
		      <label for="b_Average" class="radio-inline">
		          <input type="radio" id="b_Average" name="bodytype" data-bind="value: 3, checked: bodyType" />
		          Average </label>
		      <label for="b_Heavy" class="radio-inline">
		          <input type="radio" id="b_Heavy" name="bodytype" data-bind="value: 4, checked: bodyType" />
		          Heavy </label>	
              <!-- /ko -->      
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Complexion</label>
            </div>
            <div class="col-xs-12 col-sm-10">
            	<!-- ko ifnot: isEditMode() -->
	            <span data-bind="text: $root.facetVM.getObjectText($root.facetVM.complexionList, complexion)"></span>
	            <!-- /ko -->
	            <!-- ko if: isEditMode() -->
            	  <label for="c_VeryFair" class="radio-inline">
			      	<input type="radio" id="c_VeryFair" name="complexion" data-bind="value: 1, checked: complexion" />
			          Very Fair </label>
			      <label for="c_Fair" class="radio-inline">
			          <input type="radio" id="c_Fair" name="complexion" data-bind="value: 2, checked: complexion" />
			          Fair </label>
			      <label for="c_Wheatish" class="radio-inline">
			          <input type="radio" id="c_Wheatish" name="complexion" data-bind="value: 3, checked: complexion" />
			          Wheatish </label>
			      <label for="c_WheatishBrown" class="radio-inline">
			          <input type="radio" id="c_WheatishBrown" name="complexion" data-bind="value: 4, checked: complexion" />
			          Wheatish Brown </label>
			      <label for="c_Dark" class="radio-inline">
			          <input type="radio" id="c_Dark" name="complexion" data-bind="value: 5, checked: complexion" />
			          Dark </label>
    			<!-- /ko -->
            </div>
          </div>
        </div>          
        <div class="row">
          <div class="dot-line padt10"></div>
          <div class="padt20">
            <div class="col-xs-12 col-sm-2">
              <label data-bind="css: {'control-label':isEditMode()}">Physical Status</label>
            </div>
            <div class="col-xs-12 col-sm-10">
              <!-- ko ifnot: isEditMode() -->
	          <span data-bind="text: $root.facetVM.getObjectText($root.facetVM.physicalStatusList, physicalStatus)"></span>
	          <!-- /ko -->
	          <!-- ko if: isEditMode() -->
              <label for="ps_Normal" class="radio-inline">
		          <input type="radio" id="ps_Normal" name="physicalStatus" data-bind="value: 0, checked: physicalStatus" />
		          Normal </label>
		      <label for="ps_Challenged" class="radio-inline">
		          <input type="radio" id="ps_Challenged" name="physicalStatus" data-bind="value: 1, checked: physicalStatus" />
		          Physically Challenged </label>
              <!-- /ko -->	
            </div>
          </div>
        </div>        
        
        <!-- ko if: isEditMode() -->
        <div class="row">
          <div class="dot-line padt10"></div>          
          <div class="padt20">
            <div class="col-xs-12 col-sm-2"></div>
            <div class="col-xs-12 col-sm-10">
            	<div id="captchadiv"></div>
              	<button class="btn btn-success" data-bind="click: updateBasicDetails">Save</button>
              	<button class="btn btn-primary" data-bind="click: function(){isEditMode(false);}">Cancel</button>
            </div>
          </div>
        </div>
        <div class="padb35"></div>
        
        <div data-bind="if: message">
	        <div class="alert alert-danger alert-dismissable">
			  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  	<span data-bind="text: message"></span>
			</div>
		</div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>