<div class="clearfix">
	
	<h1>Membership Plan</h1>	
	<div class="text-center">
		<div class="jumbotron">		
			<div class="text-center">
				<p class="text-primary">After registration, you have to pay to activate your account.</p>
				<h3>Yearly Package</h3>
				<h1>Rs. 500/- </h1>	
				<p>(i.e. only Rs. 42 monthly)</p>		
			</div>
		</div>
	</div>
	
	<h2>Payment Mode</h2>
	<div>		
		<div class="well">
			<h3>Deposite in Bank</h3>
			<p>You can pay account activation charges by depositing package amount into bank account number of <strong>Bhartiya Jain Milan.</strong></p>
			<span>Bhartiya Jain Milan Bank account details are:-</span>
			<div class="col-xs-12 col-sm-12 row">
				<div class="col-xs-12 col-sm-2">
				<label>Bank Name</label>
				</div>
				<div class="col-xs-12 col-sm-10">
				Punjab National Bank, Dehradun
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 row">
				<div class="col-xs-12 col-sm-2">
				<label>Name on Account</label>
				</div>
				<div class="col-xs-12 col-sm-10">
				Bhartiya Jain Milan
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 row">
				<div class="col-xs-12 col-sm-2">
				<label>Account No.</label>
				</div>
				<div class="col-xs-12 col-sm-10">
				1087000100178052
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 row">
				<div class="col-xs-12 col-sm-2">
				<label>IFCS Code</label>
				</div>
				<div class="col-xs-12 col-sm-10">
				PUNBO108700
				</div>
			</div>
			<hr style="border-top: 1px solid #acacac;" />
			<span class="text-primary">After deposite amount, You have to give deposite information on <strong><a href="mailto:matrimony@bhartiyajainmilan.com">matrimony@bhartiyajainmilan.com</a></strong> with registration member id.</span>
			<span class="text-primary">After verfication, we will activate your account as soon as possible.</span>			
		</div>
		<div class="well">
			<h3>Submit cash to authorized BJM matrimony executives</h3>
			<p>You can submit your account activation charges to BJM matrimony authorized executives.</p>
			<h5>Bhartiya Jain Milan Matrimony authorized executive are:-</h5>
			<div class="padt20">
				<div class="pull-left">
					<h2 class="clr8">Narendra Jain Rajkamal</h2>
	                <h5 class="clr9"><strong>National Vice President / Prabhari Website</strong> </h5>                            
	                <h4><strong>Bhartiya Jain Milan</strong></h4>
	                <h5><strong>Mobile: </strong> 09837048560</h5>
	                <h5><strong>Email: </strong><a href="mailto:rajkamal@bhartiyajainmilan.com">rajkamal@bhartiyajainmilan.com</a></h5>
	                
	                <p class="padt10">
	                If you want further details about registration or payment mode. You can contact on below email id:- 
	                </p>
	                <div>
	                	<h4>Contact Us</h4>
	                	<h5><strong>Email: </strong><a href="mailto:contactus@bhartiyajainmilan.com">contactus@bhartiyajainmilan.com</a>, <a href="mailto:matrimony@bhartiyajainmilan.com">matrimony@bhartiyajainmilan.com</a></h5>
	                </div>
				</div>
				<div class="pull-right">
					<div class="mrgb20">
	                 	<div class="clr9"><h5 class="mrgb0"><strong>National President</strong></h5></div>
	                 	<div class="clr8"><strong>Veer Jai Chand Jain</strong></div>
	                 	<div><strong>Mobile: </strong> 09259107200</div>
	                 	<div><strong>Email: </strong><a href="mailto:national.president@bhartiyajainmilan.com">national.president@bhartiyajainmilan.com</a></div>
	                 </div>
	                 <div class="mrgb20">
	                   	<div class="clr9"><h5 class="mrgb0"><strong>General Secretary (Administration)</strong></h5></div>
	                   	<div class="clr8"><strong>Veer Naresh Chand Jain</strong></div>
	                 	<div><strong>Mobile: </strong> 09897227228</div>
	                 	<div><strong>Email: </strong><a href="mailto:gen.secretary.admin@bhartiyajainmilan.com">gen.secretary.admin@bhartiyajainmilan.com</a></div>
	                 </div>
	                 <div>
	                   	<div class="clr9"><h5 class="mrgb0"><strong>General Secretary (Organization)</strong></h5></div>
	                   	<div class="clr8"><strong>Veer Vipin Jain</strong></div>
	                 	<div><strong>Mobile: </strong> 09412207908</div>
	                 	<div><strong>Email: </strong><a href="mailto:gen.secretary.org@bhartiyajainmilan.com">gen.secretary.org@bhartiyajainmilan.com</a></div>
	               	 </div>
				</div>
			</div>
			<div class="clearfix"></div>
			<h1></h1>     	
			<hr style="border-top: 1px solid #acacac;" />
			<span class="text-primary">After deposite amount, You have to give deposite information on <strong><a href="mailto:matrimony@bhartiyajainmilan.com">matrimony@bhartiyajainmilan.com</a></strong> with registration member id.</span>
			<span class="text-primary">After verfication, we will activate your account as soon as possible.</span>			
		</div>
	</div>
	
	<div class="clearfix"></div>
</div>