<div class="">
    <div class="clearfix">
        <div class="pull-left">
            <dfn>Search:</dfn>
            <input type="text" ng-model="searchBy" class="form-control input-sm" />
        </div>
    </div>
    <ul>
        <li ng-repeat="item in facetVM.casteList | filter:searchBy track by item.pkCasteId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedCaste.indexOf(item.pkCasteId)>-1?true:false" name="caste" ng-model="item.selected" ng-change="toggleSelection(item.pkCasteId, $parent.selectedCaste)" ></checkbox>
                <span ng-bind="item.CasteName" class=""></span>
            </label>
        </li>
    </ul>
</div>