<div class="">
    <ul>
        <li ng-repeat="item in facetVM.countryList track by item.pkCountryId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedCountry.indexOf(item.pkCountryId)>-1?true:false" name="country" ng-model="item.selected" ng-change="toggleSelection(item.pkCountryId, $parent.selectedCountry)" ></checkbox>
                <span ng-bind="item.CountryName" class=""></span>
            </label>
        </li>
    </ul>
</div>