<div class="">
    <div class="clearfix">
        <div class="pull-left">
            <dfn>Search:</dfn>
            <input type="text" ng-model="searchBy" class="form-control input-sm" />
        </div>
    </div>
    <ul>
        <li ng-repeat="item in facetVM.employedInList | filter:searchBy track by item.key">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedEmployedIn.indexOf(item.key)>-1?true:false" name="physicalStatus" ng-model="item.selected" ng-change="toggleSelection(item.key, $parent.selectedEmployedIn)" ></checkbox>
                <span ng-bind="item.text" class=""></span>
            </label>
        </li>
    </ul>
</div>