<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Mother Toungue</h4>
</div>
<div class="modal-body">
    <ul class="list-unstyled list-group" >
        <li class="list-group-item" ng-repeat="item in facetVM.motherTongueList track by item.pkTongueId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedMotherTongue.indexOf(item.pkTongueId)>-1?true:false" name="motherToungue" ng-model="item.selected" ng-change="toggleSelection(item.pkTongueId, $parent.selectedMotherTongue)" ></checkbox>
                <span ng-bind="item.TongueName" class="disinblk"></span>
            </label>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
</div>