<div class="">
    <div class="clearfix">
        <div class="pull-left">
            <dfn>Search:</dfn>
            <input type="text" ng-model="searchBy" class="form-control input-sm" />
        </div>
    </div>
    <ul>
        <li ng-repeat="item in facetVM.motherTongueList | filter:searchBy track by item.pkTongueId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedMotherTongue.indexOf(item.pkTongueId)>-1?true:false" name="motherToungue" ng-model="item.selected" ng-change="toggleSelection(item.pkTongueId, $parent.selectedMotherTongue)" ></checkbox>
                <span ng-bind="item.TongueName" class=""></span>
            </label>
        </li>
    </ul>
</div>