<div class="">
    <div class="clearfix">
        <div class="pull-left">
            <dfn>Search:</dfn>
            <input type="text" ng-model="searchBy" class="form-control input-sm" />
        </div>
    </div>
    <ul>
        <li ng-repeat="item in facetVM.occupationGroupList | filter:searchBy track by item.pkOccGroupId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedOccupationGroup.indexOf(item.pkOccGroupId)>-1?true:false" name="occupationGroup" ng-model="item.selected" ng-change="toggleSelection(item.pkOccGroupId, $parent.selectedOccupationGroup)" ></checkbox>
                <span ng-bind="item.GroupName" class=""></span>
            </label>
        </li>
    </ul>
</div>