<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sect</h4>
</div>
<div class="modal-body">
    <ul class="list-unstyled list-group">
        <li class="list-group-item" ng-repeat="item in facetVM.sectList track by item.pkSectId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedSect.indexOf(item.pkSectId)>-1?true:false" name="sect" ng-model="item.selected" ng-change="toggleSelection(item.pkSectId, $parent.selectedSect)" ></checkbox>
                <span ng-bind="item.SectName" class="disinblk"></span>
            </label>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
</div>