<div class="">
    <ul>
        <li ng-repeat="item in facetVM.subSectList track by item.pkSubSectId">
            <label class="label-normal">
                <checkbox ng-init="item.selected = $parent.selectedSubSect.indexOf(item.pkSubSectId)>-1?true:false" name="subsect" ng-model="item.selected" ng-change="toggleSelection(item.pkSubSectId, $parent.selectedSubSect)" ></checkbox>
                <span ng-bind="item.SubSectName" class=""></span>
            </label>
        </li>
    </ul>
</div>