<div id="wrapper" ng-controller='MenuCtrl' ng-class="{'toggled':isOpened}">
    <div class="overlay" ng-show="isOpened"></div>
    <div id="sidebar-wrapper" class="navbar navbar-fixed-top" role='navigation'>

        <div class="">
            <div >
                <ul class="nav navbar-nav sidebar-nav" ng-click="$parent.toggleMenu()">
                    <li class="sidebar-brand">
                        <a href="#">
                            <img src="dist/images/symbol-sm-grey.png" />
                            JM Matrimonial
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="home" ng-bind="global.currentUser? 'My Matrimony' : 'Home' "></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="search">Search</a></li>
                    <li ng-if="!global.currentUser" ui-sref-active="active">
                        <a ui-sref="register">Register</a>
                    </li>
                    <li ng-if="!global.currentUser" ui-sref-active="active">
                        <a ui-sref="membership">Membership</a>
                    </li>
                    <li ng-if="global.currentUser" ui-sref-active="active">
                        <a ui-sref="userProfile.basicDetails">My Profile</a>
                    </li>
                    <li ng-if="global.currentUser" ui-sref-active="active">
                        <a ui-sref="userProfile.changePassword">Change Password</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="contactUs">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
    <div class="handle-sidebar-wrapper">
        <button type="button" class="handle-sidebar" ng-click="toggleMenu()" ng-class="{'is-closed': !isOpened, 'is-open': isOpened}">
            <span class="hand-top"></span>
            <span class="hand-middle"></span>
            <span class="hand-bottom"></span>
        </button>
    </div>
</div>
