<div class="bdr1 bot-shadow clearfix">
    <div class="col-sm-8 jmm_banner" style="height:530px;">
        <div class="highlight-section">
            <div class="highlight">
                <div style="font-size: 50px;">Free Membership</div>
                <h5>After registration, your profile will be activated within 24 to 48 hours.</h5>
                <div class="btn-success pad5"><h5>(Note: To know more, please contact us at matrimony@bhartiyajainmilan.com )</h5></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 bgclr2">
        <div id="register-home" class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
                <div ng-include="'register/required-register-details.html'"></div>
                <!--<div class="disabled-block-layer"></div>-->
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
