<div class="jmm_banner">
    <img src="dist/images/banner.jpg" />
</div>

<div class="register-panel">
    <div class="register-home panel panel-green">
        <div class="panel-heading">
            <h3 class="panel-title">Register Now - It's FREE !</h3>
        </div>
        <div class="panel-body">
            <div ng-include="'register/required-register-details.html'"></div>
            <!--<div class="disabled-block-layer"></div>-->
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div style="position: relative;">
    <div ng-include="'search/quickSearch.html'"></div>
</div>
