
	<div >			  
           <h3>About Us</h3>
           <div class="dot-line padt10"></div>
    	  	<h4>A exclusive matrimony portal for the Indian JAIN Community.</h4>	
    		<p>
    			The <strong>matrimony.bhartiyajainmilan.com</strong> is a part of an religious organization named <strong>Bhartiya Jain Milan</strong>
    			which is spreaded all over india.
    		</p>
    		<p>	
    			Bhartiya Jain Milan is the most trusted organization <strong>since 21st June 1953</strong>. It's first unit is established at sangam of 
    			holy rivers in Allahabad. 
    		</p>
    		<p>
    			This organization is a unit of diffrent branches of jain religion (Digamber, Shavetamber, Sthanakvasi and Terahpanthi). 
    		</p>
</div>

