<div >
  <h3>Contact Us</h3>
  <div class="dot-line padt10"></div>
  <h4>Narendra Jain Rajkamal</h4>
  <span><strong>General Secretary (Organization) of Bhartiya Jain Milan</strong></span>
  <h5><strong>Mobile:</strong> 09837048560</h5>
  <h5><strong>Email:</strong> contactus@bhartiyajainmilan.com</h5>
  <br><br>
  <h4>Caretaker of Jain Milan Matrimonial</h4>
  <div class="dot-line padt10"></div>
  <h5>Narendra Jain Rajkamal</h5>
  <div><span>Rajkamal House, Gandhi Road, BARAUT</span></div>
  <div><span>Distt. Baghpat (Uttar Pradesh) Pin: 250611</span></div>
  <div><span>Email: contactus@bhartiyajainmilan.com</span></div>
</div>
