
 	<div class="bdr1 bot-shadow jmm_banner" style="height:630px;">
		<div class="pull-left col-sm-8">
			<div class="highlight">
				Free registration till 31<sup>st</sup> October 2013
				<h5>(send your bio-data at rajkamal@bhartiyajainmilan.com )</h5>
			</div>
		</div>
		<div class="pull-right col-sm-4 bgclr2">			 
				<div id="register-home" class="panel panel-default form-horizontal">
					  <div class="panel-heading">
		                <h3 class="panel-title">Register</h3>
		              </div>
			      	  <div class="panel-body hidden-overflow">	
			      		
				      	<div class="form-group">
					        <label class="col-sm-4 control-label">Registered by</label>
					        <div class="col-sm-8">
					        	<select class="form-control">
					        		<option>--- Select ---</option>
					        	</select>
					        </div>
					    </div>
				    	<div class="form-group">
					        <label class="col-sm-4 control-label">Name</label>
					        <div class="col-sm-8">
					        	<input type="text" class="form-control" placeholder="Name">
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Gender</label>
					        <div class="col-sm-8">
					        	<div class="form-inline">
				                    <label for="gendermale" class="radio-inline">
				                    	<input type="radio" id="gendermale" name="gender" value="1" />Male
				                    </label>
				                    &nbsp;
				                    <label for="genderfemale" class="radio-inline">
				                    	<input type="radio" id="genderfemale" name="gender" value="2" />Female
				                    </label>
			                    </div>
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Marital Status</label>
					        <div class="col-sm-8">
					        	<div class="form-inline">
					        	  <select class="form-control clearwidth">
			                        <option selected="" value="0">DD</option>
			                        <option value="1">1</option>
			                        <option value="2">2</option>
			                      </select>
					        	  <select class="form-control clearwidth" >
			                        <option selected="" value="0">MM</option>
			                        <option value="01">Jan</option>
			                        <option value="02">Feb</option>
			                      </select>
					        	
					        	  <select class="form-control clearwidth" >
			                        <option selected="" value="0">YYYY</option>
			                        <option value="1995">1995</option>
			                        <option value="1994">1994</option>
			                      </select>
					        	</div>
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Date of birth</label>
					        <div class="col-sm-8">					        	
					        	  <select class="form-control">
			                         <option value="0" >--- Select ---</option>
				                      <option value="1">Unmarried</option>
				                      <option value="2">Widow / Widower</option>
				                      <option value="3">Divorced</option>
				                      <option value="4">Separated</option>
			                      </select>					        	
					        </div>
					    </div>
				    	<div class="form-group">
					        <label class="col-sm-4 control-label">Sect</label>
					        <div class="col-sm-8">					        	
					        	  <select class="form-control">
			                         <option alt="--- Select ---" title="--- Select ---" selected="" value="0">--- Select ---</option>
			                      	<option alt="Shvetambar" title="Shvetambar" value="36">Shvetambar</option>
			                      	<option alt="Digambar" title="Digambar" value="37">Digambar</option>
			                      </select>					        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Sub Sect</label>
					        <div class="col-sm-8">					        	
					        	  <select class="form-control">
			                        <option alt="--- Select ---" title="--- Select ---" selected="" value="0">--- Select ---</option>
			                      <option alt="Shvetambar-Murtipujaka" title="Shvetambar-Murtipujaka" value="1016">Shvetambar-Murtipujaka</option>
			                      <option alt="Shvetambar-Sthanakvasi" title="Shvetambar-Sthanakvasi" value="1017">Shvetambar-Sthanakvasi</option>
			                      <option alt="Shvetambar-Terapanthi" title="Shvetambar-Terapanthi" value="1018">Shvetambar-Terapanthi</option>
			                      </select>					        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Caste</label>
					        <div class="col-sm-8">					        	
					        	  <select class="form-control">
			                       <option alt="--- Select ---" title="--- Select ---" selected="" value="0">--- Select ---</option>
			                        <option alt="Jain - Agarwal" title="Jain - Agarwal" value="3000">Jain - Agarwal</option>
			                        <option alt="Jain - Bania" title="Jain - Bania" value="3006">Jain - Bania</option>
			                        <option alt="Jain - Intercaste" title="Jain - Intercaste" value="3005">Jain - Intercaste</option>
			                      </select>					        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Mother Tongue</label>
					        <div class="col-sm-8">					        	
					        	  <select class="form-control">
			                       <option alt="--- Select ---" title="--- Select ---" selected="" value="0">--- Select ---</option>
			                      <option alt="English" title="English" value="10">English</option>
			                      <option alt="Hindi" title="Hindi" value="17">Hindi</option>
			                      </select>					        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Country living in</label>
					        <div class="col-sm-8">					        	
					        	  <select class="form-control">
			                       <option value="0">--- Select ---</option>
			                      <option value="98">India</option>
			                      <option value="222">United States of America</option>
			                      <option value="220">United Arab Emirates</option>
			                      </select>					        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Mobile Number</label>
					        <div class="col-sm-8">
					        	<div class="input-group">					        	
					        	  <select class="input-group-addon clearwidth">
			                        <option value="0">Code</option>
			                        <option value="98">+91</option>
			                        <option value="222">+92</option>
			                        <option value="220">+93</option>
			                      </select>
			                      <input value="" class="form-control clearwidth" maxlength="50">
			                    </div>  				        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">E-mail</label>
					        <div class="col-sm-8">
			                      <input type="email" class="form-control">				        	
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-sm-4 control-label">Password</label>
					        <div class="col-sm-8">
			                      <input type="password" class="form-control">				        	
					        </div>
					    </div>
					    <div class="form-group">
					    	<div class="col-sm-8 col-sm-offset-4 checkbox">
							    <label>
							      <input type="checkbox">
								  I agree to the <a class="link" href="#nogo" target="_blank">Privacy Policy </a>
			                        and <a class="link" href="#nogo" target="_blank">Terms &amp; Conditions</a>	
		                        </label>
					    	</div>
					    </div>
					    <div class="form-group">
							<div class="col-sm-8 col-sm-offset-4">
								<button class="btn btn-success" type="submit">Register</button>
							</div>
						</div>
						 <div class="disabled-block-layer"></div>
			       </div>
			            
			    </div>
			          
    		
		</div>
	</div>
	<div class="clearfix"></div>

