<div class="bdr1 bot-shadow clearfix">
  <div class="col-sm-8 jmm_banner" style="height:530px;">
    <div class="highlight">
    	<h4>After registration, activate your profile by paying</h4>
    		Just Rs. 500 only (1 year)
    	<h5><a href="#!upgrade">click here</a> to know about payment mode.</h5>		
      <div class="btn-success pad5"><h5>(Note: To know more, please contact us at matrimony@bhartiyajainmilan.com )</h5></div>
    </div>
  </div>
  <div class="col-sm-4 bgclr2">
    <div id="register-home" class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
      </div>
      <div class="panel-body" data-bind="with: registerMainVM.registrationVM">
        <div data-bind="template: { name: 'register/views/required-register-details'}"></div>
        <!--<div class="disabled-block-layer"></div>-->
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
