<div data-bind="with: registerMainVM">
	<h1>Register</h1>
	<br />
	<div>
		<div class="pull-left">
			<div data-bind="css: {'selected-step': showPage() == 'register-member'}">STEP 1</div>
			<div><img data-bind="css: {'arw-active': showPage() == 'register-member', 'arw-inactive': showPage() != 'register-member'}" src="images/spacer.gif" width="83" height="10" border="0" alt=""></div>
			<div data-bind="css: {'selected-step-text': showPage() == 'register-member'}">BASIC DETAILS</div>	
		</div>
		<div class="pull-left" style="margin-left: 50px;">
			<div data-bind="css: {'selected-step': showPage() == 'member-profile'}">STEP 2</div>
			<div><img data-bind="css: {'arw-active': showPage() == 'member-profile', 'arw-inactive': showPage() != 'member-profile'}" src="images/spacer.gif" width="83" height="10" border="0" alt=""></div>
			<div data-bind="css: {'selected-step-text': showPage() == 'member-profile'}">PROFILE DETAILS</div>	
		</div>
		<div class="clearfix"></div>
	</div>
	<br />
	<div data-bind="if: showPage() == 'register-member'">		
		<div data-bind="template: { name: 'register/views/register-member'}"></div>
	</div>
	<div data-bind="if: showPage() == 'member-profile'">		
		<div data-bind="template: { name: 'register/views/member-profile'}"></div>
	</div>
</div>
