<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 ">Registered by<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.registeredByList, optionsText: 'text', optionsValue: 'key', optionsCaption: '--Select--', value: registeredBy"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Name<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Name" data-bind="value: memberName, valueUpdate: 'afterkeydown'" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Gender<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      
        <label for="gendermale" class="radio-inline">
          <input type="radio" id="gendermale" name="gender" data-bind="value: 1, checked: sex" />
          Male </label>
        &nbsp;
        <label for="genderfemale" class="radio-inline">
          <input type="radio" id="genderfemale" name="gender" data-bind="value: 0, checked: sex" />
          Female </label>
      
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Date of birth<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
    	<div id="datetimepicker2" class="input-group" data-bind="datetimepicker: dob">
	    	<input type="text" data-format="MM/dd/yyyy HH:mm PP" placeholder="MM/dd/yyyy HH:mm PP" class="form-control"  data-bind="value: dob, disable: true" />
	    	<span class="input-group-addon">
		      <i data-time-icon="glyphicon-time" data-date-icon="glyphicon-calendar" class="glyphicon glyphicon-calendar"></i>
		    </span>
	    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Marital Status<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.maritalStatusList, optionsText: 'text', optionsValue: 'key', optionsCaption: '--Select--', value: maritalStatus"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Sect<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.sectList, optionsText: 'SectName', optionsValue: 'pkSectId', optionsCaption: '--Select--', value: sect, event: {change: function(){facetVM.afterSectChange(sect())}}"></select>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Sub Sect<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.subSectList, optionsText: 'SubSectName', optionsValue: 'pkSubSectId', optionsCaption: '--Select--', value: subSect"></select>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Mother Tongue<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.motherTongueList, optionsText: 'TongueName', optionsValue: 'pkTongueId', optionsCaption: '--Select--', value: motherTongue"></select>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Country living in<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.countryList, optionsText: 'CountryName', optionsValue: 'pkCountryId', value: country, disable: true"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">State<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <select class="form-control" data-bind="options: facetVM.stateList, optionsText: 'StateName', optionsValue: 'pkStateId', optionsCaption: '--Select--', value: state"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">City<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="City" data-bind="value: city, valueUpdate: 'afterkeydown'" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Contact Number<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Contact Number" data-bind="value: contactNumber, valueUpdate: 'afterkeydown'" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">E-mail<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <input type="email" class="form-control" data-bind="value: emailId">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Password<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <input type="password" class="form-control" data-bind="value: password, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 ">Confirm Password<span class="requiredFields"> *</span></label>
    <div class="col-sm-8">
      <input type="password" class="form-control" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12 checkbox">
      <label>
        <input type="checkbox" data-bind="checked: termsConditions" />
        I agree to the <a href="#nogo" class="link" data-toggle="modal" data-target="#privacyPolicy">Privacy Policy</a> 
        and 
        <a href="#nogo" class="link" data-toggle="modal" data-target="#termsConditions">Terms &amp; Conditions</a>
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4">
      <button class="btn btn-success" data-bind="click: registerUser, enable: termsConditions()">Register</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="privacyPolicyLabel">Privacy Policy</h4>-->
      </div>
      <div class="modal-body">
       	<div data-bind="template: { name: 'home/views/privacypolicy'}"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="termsConditions" tabindex="-1" role="dialog" aria-labelledby="termsConditionsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="termsConditionsLabel">Terms &amp; Conditions</h4>-->
      </div>
      <div class="modal-body">
       	<div data-bind="template: { name: 'home/views/termsnconditions'}"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->