.grid-view-loading {
	background: url(loading.gif) no-repeat;
}

.grid-view table.items {
	width: 100%;
	border-collapse: collapse;
}

.grid-view table.items th {
	background: #E0E0E0 url(../../../img/bg_th.png) repeat-x top;
	text-shadow: 1px 1px 1px #fff;
	font-size: 14px;
}

.grid-view table.items th a {
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover {
	color: #FFF;
}

.grid-view table.items th a.asc {
	background: url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc {
	background: url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even {
	text-align: left;
	padding: 8px;
}

.grid-view table.items tr.odd {
	background: #F2F2F2 url(../../../img/bg_td_alt.png) repeat-x top;
	text-shadow: 1px 1px 1px #fff;
}

.grid-view .link-column img {
	border: 0;
}

.grid-view .button-column {
	text-align: center;
	width: 100px;
}

.grid-view .button-column img {
	border: 0;
}

.grid-view .checkbox-column {
	width: 15px;
}

.grid-view .summary {
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager {
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty {
	font-style: italic;
}

.grid-view .filters input {
	border: 1px solid #999;
	padding: 4px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 5px;
	color: #666;
	background: url(../img/bg_fade_sml.png) repeat-x top;
	width: 100px;
}

.grid-view .filters select {
	width: 70%;
	border: 1px solid #ccc;
}