<!-- footer starts -->
<div class="panel-footer">
<div id="footer" class="container">  
    <div class="padb10 col-xs-12 col-sm-12">
    	<p>
    		<span>Reach Out:</span>
    		<a href="#!contact-us">Contact Us</a>
    		|<a href="javascript:void(0)">Report Abuse</a>
    		|<a href="javascript:void(0)">Feedback</a>
    	</p>
    	<p>
    		<span>Information:</span>
    		<a href="#!about-us">About Us</a>
    		|<a href="#!privacy-policy">Privacy Policy</a>
    		|<a href="#!terms-n-conditions">Terms &amp; Conditions</a>
    	</p>
	<p>
    		<span>Quick Links:</span>
    		<a href="javascript:void(0)">Post Success Story of BJM Matrimonial</a>
    		|<a href="javascript:void(0)">Popular Matrimony Searches</a>
    	</p>
     </div>
     <div class="wrapper paddt15 copyright">
		<div class="text-center text-muted">Copyright &copy; 2013. All rights reserved.</div>
		<div class="text-center text-muted"><small>Jain Milan Matrimonial is a part of <a href="http://www.bhartiyajainmilan.com" target="_blank">www.bhartiyajainmilan.com</a></small></div>
								
	</div>
    <div class="clearfix"></div>  
</div>
</div>
<!-- footer ends --> 