<!-- Home Page -->

<div data-bind="if: $root.categorySwitch() == $root.label.HOME_PAGE">
  <div data-bind="template: { name: 'home/views/home'}"></div>
</div>
<div id="page-body" class="container">
  <div data-bind="if: $root.categorySwitch() == $root.label.SEARCH_PAGE">
    <div data-bind="with: $root.searchMainVM">
      <div data-bind="template: { name: 'search/views/search'}"></div>
    </div>
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.REGISTER_PAGE">
    <div> Register page </div>
  </div>
</div>
