<!-- Home Page -->

<div class="container">
  <div data-bind="if: $root.categorySwitch() == $root.label.HOME_PAGE">
  	 <!-- ko ifnot: user() -->
	 <div data-bind="template: { name: 'home/views/home'}"></div>
	 <!-- /ko -->
	 <!-- ko if: user() -->
	 <div data-bind="template: { name: 'member/views/member'}"></div>	
	 <!-- /ko -->
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.MEMBER">
  	<!-- ko if: user() -->
    <div data-bind="template: { name: 'member/views/member'}"></div>
    <!-- /ko -->
    <!-- ko ifnot: user() -->
    <div data-bind="template: { name: 'main/views/error', data: {'message': 'You have given an invalid request.'}}"></div>
    <!-- /ko -->
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.SEARCH_PAGE">
    <div data-bind="with: $root.searchMainVM">
      <div data-bind="template: { name: 'search/views/search'}"></div>
    </div>
  </div>
  
  <div data-bind="if: $root.categorySwitch() == $root.label.REGISTER_PAGE">
     <div data-bind="template: { name: 'register/views/register'}"></div>
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.UPGRADE_PAGE">
     <div data-bind="template: { name: 'member/views/membership-plan'}"></div>
  </div>
  
  <div data-bind="if: $root.categorySwitch() == $root.label.ABOUTUS_PAGE">
    <div data-bind="template: { name: 'home/views/aboutus'}"></div>
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.PRIVACY_POLICY">
    <div data-bind="template: { name: 'home/views/privacypolicy'}"></div>
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.TERMS_N_CONDITIONS">
    <div data-bind="template: { name: 'home/views/termsnconditions'}"></div>
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.CONTACT_US">
    <div data-bind="template: { name: 'home/views/contactus'}"></div>
  </div>
  <div data-bind="if: $root.categorySwitch() == $root.label.LOGIN">
   	<div data-bind="template: { name: 'login/views/login'}"></div>
  </div>
</div>
