<div >
    <h3>Privacy Policy</h3>
    <div class="dot-line padt10"></div>
    <p> <strong><a href="http://www.jainmilanmatrimonial.com">http://www.jainmilanmatrimonial.com</a></strong> is an online matrimonial portal endeavouring constantly to provide you with premium matrimonial services. This privacy statement is common to all the matrimonial sites operated under <a href="http://www.jainmilanmatrimonial.com">http://www.jainmilanmatrimonial.com</a>. Since we are strongly committed to your right to privacy, we have drawn out a privacy statement with regard to the information we collect from you. </p>
    <p> We use a secure server for credit card transactions to protect the credit card information of our users and Cookies are used to store the login information. </p>
    <dl>
        <dt>What information you need to give in to use this site?</dt>
        <dd>
            <p> The information we gather from members and visitors who apply for the various services our site offers includes, but may not be limited to, email address, first name, last name, a user-specified password, mailing address, zip code and telephone number or fax number. </p>
            <p> If you establish a credit account with us to pay the fees we charge, some additional information, including a billing address, a credit card number and a credit card expiration date and tracking information from checks or money orders is collected. </p>
        </dd>
    </dl>
    <dl>
        <dt>How the site uses the information it collects/tracks?</dt>
        <dd>
            <p> Bhartiya Jain Milan collects information from our users primarily to ensure that we are able to fulfill your requirements and to deliver Personalised experience. </p>
        </dd>
    </dl>
    <dl>
        <dt>With whom the site shares the information it collects/tracks?</dt>
        <dd>
            <p> The information collected from any of our users is not shared with any individual or organisation without the former's approval. <br>
                <a href="http://www.jainmilanmatrimonial.com">http://www.jainmilanmatrimonial.com</a> does not sell, rent, or loan any identifiable information at the individual level regarding its customers to any third party. Any information you give us is held with the utmost care and security. We are also bound to cooperate fully should a situation arise where we are required by law or legal process to provide information about a customer. </p>
        </dd>
    </dl>
    <dl>
        <dt>Do all visitors have to pay?</dt>
        <dd>
            <p> NO. All visitors to our site may browse the site, search the ads and view any articles or features our site has to offer without entering any personal information or paying money. </p>
        </dd>
    </dl>
    <dl>
        <dt>How to unsubscribe the membership?</dt>
        <dd>
            <p> The members are requested to login to the relevant pages for unsubscription. </p>
        </dd>
    </dl>
    <dl>
        <dt>Can users contact any number of profiles in a single day?</dt>
        <dd>
            <p> As a paid member of this site, you have the privilege to contact hundreds of profiles. However, there is a specified limit to 150 contacts per day for security reasons. If you want to contact more profiles than the specified limit in a single day, you can do so after the completion of 12 hours of login time. </p>
        </dd>
    </dl>
    <dl>
        <dt>Notice</dt>
        <dd>
            <p> We may change this Privacy Policy from time to time based on your comments or as a result of a change of policy in our company. </p>
        </dd>
    </dl>
    <p> If you have any questions regarding our Privacy Statement, please write in to <a href="mailto:matrimony@bhartiyajainmilan.com">matrimony@bhartiyajainmilan.com</a> </p>
</div>