<!-- Modal -->
<div ng-controller="ForgotPasswordCtrl" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Forgot Password?</h4>
    </div>
    <div class="modal-body">
        <div class="well">
            <div ng-show="!isDone">
                <form name="forgotForm">
                    <div>
                        Please enter your Matrimony ID / Email ID and we'll send you a link to reset your password.
                    </div>
                    <div class="form-group input-group-sm">
                        <label class="control-label">Matrimony ID / Email ID</label>
                        <input type="text" placeholder="Matrimony ID / Email ID" class="form-control def-element-width" required name="email" ng-model="email"/>
                        <div ng-messages="forgotForm.email.$touched && forgotForm.email.$error" class="text-danger">
                            <div ng-message="required">Please write Matrimony ID or registered Email ID.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success" ng-click="sendResetPassword()">Reset Password</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Close</button>
                    </div>
                </form>
                <div class="text-danger">
                    <span ng-bind="errorMessage"></span>
                </div>
            </div>
            <div ng-if="isDone">
                <div class="form-group">
                    <span ng-bind="successMessage"></span>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->
