<div ng-show="!global.auth" class="panel panel-default">
    <div class="panel-body jumbotron">
        <div class="col-sm-8 ">
            <div>
                <h2>Member Login</h2>
            </div>
            <div class="col-sm-8 panel panel-default padt10">
                <form name="loginForm" class="">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Matrimony ID / Email ID</label>
                        <input type="text" placeholder="Matrimony ID / Email ID" class="form-control def-element-width" required name="email" ng-model="user.email"/>
                        <div ng-messages="loginForm.email.$touched && loginForm.email.$error" class="text-danger">
                            <div ng-message="required">Please write Matrimony ID or registered Email ID.</div>
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label class="control-label">Password</label>
                        <input type="password" placeholder="Password" class="form-control def-element-width" name="password" required ng-model="user.password"/>
                        <div ng-messages="loginForm.password.$touched && loginForm.password.$error" class="text-danger">
                            <div ng-message="required">Please write password.</div>
                        </div>
                    </div>
                    <div ng-if="message" class="text-danger">
                        <div ng-bind="">message</div>
                    </div>
                    <!--<div class="form-group checkbox">
                        <label>
                          <input type="checkbox" value="remember-me" name="LoginForm[rememberMe]"> Remember me
                        </label>
                    </div>
                    -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success" ng-click="login()">Login</button>
                        <button type="button" class="btn btn-sm btn-link" ng-click="forgotPassword()">Forgot password?</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
               <!--<span>Find your soul mate...</span>-->
            </div>
        </div>
        <div class="col-sm-4 panel panel-default">
            <div class="panel-body">
                <h3>Join BJM Matrimony FREE</h3>
                <ul>
                    <li>It's free of cost</li>
                    <li>Unlimited access to profiles</li>
                    <li>Contact members directly</li>
                    <li>No hidden cost</li>
                    <li>Easy to use</li>
                    <li>Trustworthy, efficient</li>
                    <li>Best matching email alerts (coming soon)</li>
                    <li>Online chat(coming soon)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-show="global.auth" class="text-center">
    <div>
        <h2>Logging in...</h2>
    </div>
    <div>
        <img src="images/spinner-horizontal.gif" title="Logging..">
    </div>
</div>